<div class="app-container">

  <div class="flex" *ngIf="items[0] as item">

    <!-- Cette carte contiendra tous les contenus projetés dans la composante -->

    <app-compooo-card [item]="item">

      <div class="pad">Ce texte sera inséré dans le ng-content sans sélecteur</div>

      <div class="item-description">
        <h5>{{item.longDescription}}</h5>
      </div>

      <div class="item-image">
        <img white="300" alt="Angular Logo" [src]="item.image">
        <h4>chewbacca</h4>
      </div>

    </app-compooo-card>

    <!-- Cette carte contiendra l'image et le bouton -->
    <app-compooo-card [item]="item">

      <div class="pad">
          <button type="button" class="btn btn-info">Mon beau bouton</button>
      </div>

      <div class="item-image">
        <img white="300" alt="Angular Logo" [src]="item.image">
      </div>

    </app-compooo-card>

    <!-- Cette carte contiendra seulement la description -->
    <app-compooo-card [item]="item">

      <div class="item-description">
        <h4>{{item.longDescription}}</h4>
      </div>

    </app-compooo-card>

  </div>

</div>